<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <title>Timelapse Web Client</title>
        <script src="../bower_components/platform/platform.js"></script>
        <link rel="import" href="../bower_components/font-roboto/roboto.html">
        <link rel="import" href="../bower_components/paper-button/paper-button.html">
        <link rel="import" href="../bower_components/paper-item/paper-item.html">
        <link rel="import" href="../bower_components/paper-toast/paper-toast.html">
        <link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
        <link rel="import" href="../bower_components/paper-input/paper-input.html">
        <link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
        <link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
        <link rel="import" href="components/slider-box.html">
        <link rel="import" href="components/timelapse-bar.html">
        <link rel="import" href="components/brightness-slider.html">
        <link rel="stylesheet" href="css/style.css">
        <style>

            html, body {
                height: 100%;
                margin: 0;
                background-color: #E5E5E5;
                font-family: 'RobotoDraft', sans-serif;
                font-weight: 300;
            }

        </style>
        <script>
            // Extends the mapping for ng-polymer-elements, will disapear when polymer will work properly with angular
            if (!window.NG_POLYMER_ELEMENTS_EXTENDED_MAPPINGS) {
                window.NG_POLYMER_ELEMENTS_EXTENDED_MAPPINGS = {};
            }
            window.NG_POLYMER_ELEMENTS_EXTENDED_MAPPINGS.paperTabs = {
                ngChange: {
                    event: "manual-change"
                },
                ngModel: {
                    primitive: "selected"
                }
            };
            window.NG_POLYMER_ELEMENTS_EXTENDED_MAPPINGS.paperDropdown = {
                ngModel: {
                    primitive: "selected"
                }
            };
        </script>
    </head>
    <body unresolved touch-action="auto" ng-app="tl-app">
            <div class="content" flex layout horizontal ng-controller="MainController">
                <timelapse-bar status="{{currentTimelapse.status}}" count="{{currentTimelapse.photoNb}}"></timelapse-bar>
                <div class="sidebar">
                    <h4>Controlling {{camera.model}}</h4>
                    <paper-item class="camera" ng-repeat="log in logs">
                        {{log}}
                    </paper-item>
                </div>
                <div flex ng-if="camera !== null" layout vertical>
                    <paper-tabs ng-model="tab" id="tabs">
                        <paper-tab>Settings</paper-tab>
                        <paper-tab>Timelapse</paper-tab>
                        <paper-tab>Advanced</paper-tab>
                    </paper-tabs>
                    <div flex class="mainBoard">
                        <section ng-show="tab === 0" layout vertical center>
                            <slider-box ng-repeat="(key,prop) in config"
                                        values="{{prop.choices}}"
                                        title="{{prop.label}}"
                                        ng-model="prop.value"
                                        ng-change="propertyChange('{{key}}')" ng-if="prop.type === 'choice'"></slider-box>
                        </section>
                        <section ng-show="tab === 1" layout vertical center>
                            <paper-input type="number" class="inter" ng-model="timelapse.delay" min="4" label="Interval" floatingLabel></paper-input>
                            <div layout horizontal>
                                <paper-button label="Preview" raisedButton ng-click="takePicture()" ng-disabled="currentTimelapse.status === 'running'"></paper-button>
                                <paper-button label="Start timelapse" raisedButton ng-click="startTimelapse()" ng-disabled="currentTimelapse.status === 'running'"></paper-button>
                                <paper-button label="Stop timelapse" raisedButton ng-click="stopTimelapse()" ng-disabled="currentTimelapse.status !== 'running'"></paper-button>
                            </div>
                            <brightness-slider min="{{conf.MIN_BRIGHTNESS}}" max="{{conf.MAX_BRIGHTNESS}}" value="{{brightness}}" disabled></brightness-slider>
                            <img ng-src="{{preview}}" alt="Preview" class="preview">
                        </section>
                        <section ng-show="tab === 2" layout vertical center>
                            <paper-input type="number" floatingLabel label="Minimum brightness" ng-model="conf.MIN_BRIGHTNESS"></paper-input>
                            <paper-input type="number" floatingLabel label="Maximum brightness" ng-model="conf.MAX_BRIGHTNESS"></paper-input>
                            <paper-dropdown valueattr="value" ng-model="conf.BRIGHTNESS_DRIVER">
                                <paper-item ng-repeat="(key,prop) in config" label="{{prop.label}}" value="{{key}}"></paper-item>
                            </paper-dropdown>
                            <paper-button label="Save" raisedButton ng-click="changeAdvanced()"></paper-button>
                        </section>
                    </div>
                </div>
                <div flex layout horizontal center-justified ng-show="camera === null">
                    <p self-center>No camera detected. Check on server side</p>
                </div>
                <paper-toast id="toast" duration="5000" text="{{notification.message}}"></paper-toast>
            </div>
        <script src="http://localhost:3000/socket.io/socket.io.js" id="socketScript"></script>
        <!-- build:js js/app.js -->
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/ng-polymer-elements/ng-polymer-elements.min.js"></script>
        <script src="js/angular/modules.js"></script>
        <script src="js/angular/controllers/mainCtrl.js"></script>
        <script src="js/angular/services/socket.js"></script>
        <script src="js/angular/app.js"></script>
        <!-- endbuild -->
    </body>
</html>
