<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<polymer-element name="timelapse-bar">
    <template>
        <style>
            :host {
                position: fixed;
                right: 0;
                left: 0;
                top: 0;
                z-index: 10;
            }
            :host .full {
                width: 100%;
                height: 100%;
                transition: all linear 300ms;
                text-align: center;
            }
            :host .waiting, :host .ended {
                background-color: #B5E0ED;
            }
            :host .running {
                background-color: #8DD7C0;
            }
            :host .processing {
                background-color: rgb(255,179, 71);
            }
            :host .progress {
                width: 100%;
            }
            paper-progress::shadow #activeProgress {
                transition: all linear 200ms;
            }
        </style>
        <template if="{{true}}">
            <div layout vertical center-justified class="full {{timelapse.status}}">
                <p self-center>
                    <template if="{{timelapse.status === 'waiting'}}">
                        Ready to start timelapse !
                    </template>
                    <template if="{{timelapse.status === 'running'}}">
                        Timelapse runnning: {{timelapse.photoNb}} picture<template if="{{timelapse.photoNb>1}}">s</template> taken.
                    </template>
                    <template if="{{timelapse.status === 'ended'}}">
                        Timelapse ended, {{timelapse.photoNb}} picture<template if="{{timelapse.photoNb>1}}">s</template> taken.
                    </template>
                    <template if="{{timelapse.status === 'processing'}}}">
                        Processing: {{timelapse.process.type}}
                    </template>
                </p>
                <paper-progress class="progress" value="{{timelapse.process.value}}"></paper-progress>
            </div>
        </template>
    </template>
    <script>
        Polymer('timelapse-bar', {
            timelapse: {}
        });
    </script>
</polymer-element>
