.sidebar {
    border-right: 1px solid grey;
}
.content {
    height: 100%;
}
.camera {
    border-bottom: 1px solid grey;
    padding: 10px;
}
.camera.selected {
    font-weight: bold;
    background-color: lightgrey;
}
.mainBoard {
    padding: 10px;
}
.preview {
    padding: 10%;
}
.preview img {
    width: 80%;
}
.topClean {
    padding-top: 0px;
}
paper-tabs.littleTabs::shadow #selectionBar {
  background-color: green;
}
.littleTabs paper-tab::shadow #ink {
    color: green;
}
.timelapseInfo {
    padding: 5px;
    text-align: center;
    background-color: #8DD7C0;
}
