.sidebar {
    border-right: 1px solid grey;
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 25%;

}
.content {
    height: 100%;
    margin-top: 40px;
    margin-left: 25%;
}
.camera {
    border-bottom: 1px solid grey;
    padding: 10px;
}
.camera.selected {
    font-weight: bold;
    background-color: lightgrey;
}
.mainBoard {
    padding: 10px;
}
.preview {
    padding: 10%;
}
.preview img {
    width: 80%;
}
.topClean {
    padding-top: 0px;
}
paper-tabs.littleTabs::shadow #selectionBar {
  background-color: green;
}
.littleTabs paper-tab::shadow #ink {
    color: green;
}
.preview {
    width: 80%;
}
.central-view {
    position: relative;
}
paper-button {
    margin: 3px;
}
paper-dropdown {
    background-color: transparent;
}
